n8n-workflows/03-vendor-payment.json
{
  "name": "WeddingPro — תשלום הושלם (vendor.payment_completed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weddingpro-lead",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook — קבלת אירוע",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "weddingpro-lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-payment",
              "leftValue": "={{ $json.event }}",
              "rightValue": "vendor.payment_completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "אמת event = payment_completed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h1",
              "name": "plan_label",
              "value": "={{ $json.plan === 'premium' ? 'פרמיום ₪349/חודש' : 'סטנדרט ₪149/חודש' }}",
              "type": "string"
            },
            {
              "id": "h2",
              "name": "admin_message",
              "value": "=💳 *תשלום חדש ב-WeddingPro!*\n\n📧 *אימייל ספק:* {{ $json.vendor_email }}\n📋 *תוכנית:* {{ $json.plan === 'premium' ? 'פרמיום ₪349' : 'סטנדרט ₪149' }}\n🔑 *Stripe Session:* {{ $json.stripe_session_id }}\n\n⚠️ הפרופיל מחכה לאישור ידני!\n🔗 https://weddingpro.co.il/admin/vendors"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "הכן נתוני תשלום",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "YOUR_ADMIN_WHATSAPP_NUMBER",
        "textBody": "={{ $json.admin_message }}",
        "additionalFields": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "WhatsApp לאדמין",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@weddingpro.co.il",
        "toEmail": "YOUR_ADMIN_EMAIL",
        "subject": "=💳 תשלום חדש התקבל — {{ $json.vendor_email }}",
        "emailType": "html",
        "message": "=<div dir=\"rtl\" style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1a1614;\">תשלום חדש התקבל!</h2>\n  <table style=\"width:100%; border-collapse:collapse;\">\n    <tr><td style=\"padding:8px; font-weight:bold;\">אימייל ספק</td><td style=\"padding:8px;\">{{ $json.vendor_email }}</td></tr>\n    <tr><td style=\"padding:8px; font-weight:bold;\">תוכנית</td><td style=\"padding:8px;\">{{ $json.plan === 'premium' ? 'פרמיום ₪349/חודש' : 'סטנדרט ₪149/חודש' }}</td></tr>\n    <tr><td style=\"padding:8px; font-weight:bold;\">Stripe Session</td><td style=\"padding:8px;\">{{ $json.stripe_session_id }}</td></tr>\n    <tr><td style=\"padding:8px; font-weight:bold;\">Stripe Customer</td><td style=\"padding:8px;\">{{ $json.stripe_customer_id ?? 'N/A' }}</td></tr>\n    <tr><td style=\"padding:8px; font-weight:bold;\">זמן</td><td style=\"padding:8px;\">{{ new Date($json.timestamp).toLocaleString('he-IL') }}</td></tr>\n  </table>\n  <p style=\"color:#b45309; font-weight:bold;\">⚠️ הפרופיל מחכה לאישור ידני!</p>\n  <a href=\"https://weddingpro.co.il/admin/vendors\" style=\"display:inline-block; margin-top:12px; background:#8c5f58; color:white; padding:12px 24px; border-radius:8px; text-decoration:none;\">עבור לאדמין לאישור</a>\n</div>",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "אימייל לאדמין",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "תגובה 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook — קבלת אירוע": {
      "main": [
        [{ "node": "אמת event = payment_completed", "type": "main", "index": 0 }]
      ]
    },
    "אמת event = payment_completed": {
      "main": [
        [{ "node": "הכן נתוני תשלום", "type": "main", "index": 0 }]
      ]
    },
    "הכן נתוני תשלום": {
      "main": [
        [
          { "node": "WhatsApp לאדמין", "type": "main", "index": 0 },
          { "node": "אימייל לאדמין", "type": "main", "index": 0 }
        ]
      ]
    },
    "WhatsApp לאדמין": {
      "main": [
        [{ "node": "תגובה 200 OK", "type": "main", "index": 0 }]
      ]
    },
    "אימייל לאדמין": {
      "main": [
        [{ "node": "תגובה 200 OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["weddingpro"],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T00:00:00.000Z",
  "versionId": "v1"
}
